[submodule "walrus"]
	path = walrus
	url = https://github.com/eyeonspringfield/walrus.git
	branch = thesis-mods
[submodule "toolchain/emsdk"]
	path = toolchain/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "toolchain/wabt"]
	path = toolchain/wabt
	url = https://github.com/WebAssembly/wabt
